---
import Layout from '@/layouts/Base.astro'

import Header from '@/components/Header.astro'
import Openmoji from '@/components/Openmoji.astro'
import Lightbox from '@/components/Lightbox.astro'

const images = await Astro.glob(`../../public/images/*/*.jpg`)

function selectRandomMatchingFile(array: any[], filter: string) {
	const selected = array
		.map((img) => img.default.replace('/public', ''))
  	.filter((img) => img.includes(filter))
  return selected[Math.floor(Math.random() * selected.length)]
}
---
<Layout>
  <!-- <Header /> -->

  <div id="wrapper">
    <nav>
      <a href="/blog">writing</a> <b>&middot;</b>
      <a href="/projects">projects</a> <b>&middot;</b>
      <a href="/about">about</a>
    </nav>

    <div>
      <Lightbox file={selectRandomMatchingFile(images, '/adam/')} />
      <Lightbox file={selectRandomMatchingFile(images, '/lolz/')} />
      <Lightbox file={selectRandomMatchingFile(images, '/cute/')} />
    </div>
    
    <p>
      Some things that interest me (most recent first):
      <a href="">software development</a>,
      <a href="/afantasia">afantasia</a>, regenerative agriculture (especially
      <a href="/syntropy">Syntropic Agroforestry</a>,
      <a href="">Holistic Management</a>, and
      <a href="/permaculture">Permaculture</a>),
      <a href="">management & leadership</a>,
      <a href="">Nonviolent Communication</a>,
      <a href="">Vipassanā</a>,
      <a href="/tags/eating">food as medicine</a>,
      <a href="/tags/nerding">open source</a>, and
      <a href="/tags/poetry">poetry</a>.
    </p>
    <p>
      <a href="https://github.com/adamshand/" target="_blank">
        <Openmoji id="E045" /></a>
      <a href="https://www.linkedin.com/in/adamshand/" target="_blank">
        <Openmoji id="E046" /></a>
    </p>
  </div>
</Layout>

<style>
  * {
    /* border: 1px solid crimson; */
  }
  #wrapper {
    width: 77vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav {
    margin: 3vw 0;
    font-size: 3vw;
  }
  p {
    max-width: 768px;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 400;
  }
</style>
