---
// export let width: 'normal' | 'narrow' | 'wide' | 'full' = 'normal'
const { background = false, border = false, columns = false, width = 'normal' } = Astro.props

let classes = ''
if (background) classes += ' background'
if (border) classes += ' border'
if (columns) classes += ' columns'
if (width === 'wide') {
  classes += ' wide'
} else if (width === 'full') {
  classes += ' full'
} else if (width === 'narrow') {
  classes += ' narrow'
}
---
<div class={classes}>
  <slot />
</div>

<style>
  div.background {
    padding: 1rem;
    background-color: var(--darkContrast);
    border-radius: 11px;
  }
  div.border {
    padding: 1rem;
    border: 1px solid var(--light);
    border-radius: 11px;
  }
  div.columns {
    column-count: 2;
    column-rule: 1px dashed var(--light);
    column-gap: 2rem;
  }
  /* https://css-tricks.com/full-bleed/ */
  div.full {
    width: 100vw;
    margin-left: -50vw;
    margin-right: -50vw;
    position: relative;
    left: 50%;
    right: 50%;
  }
  div.narrow {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  div.wide {
    width: calc(var(--textWidth) + 3rem);
    margin-left: -3rem;
  }
</style>