---
import { SITE_TITLE, SITE_DESCRIPTION } from '@/config'
import BaseHead from '@/components/BaseHead.astro';
const year = new Date().getFullYear()
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <slot /> 
    
    <footer>
      <div>&hearts; <a href="https://copyheart.org/">Copyheart</a> {year}, sharing is an act of love.</div>
    </footer>
  </body>
</html>

<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    /* border: 1px solid yellow; */
  }
  footer {
    display: block;
    width: 100vw;
    margin-top: 1rem;
    padding: .5rem;
    /* border-top: 3px solid var(--accent); */
    background-color: var(--darkContrast);
    text-align: center;
    font-size: .8rem;
    font-weight: 200;
  }
</style>