---
import Layout from '@/layouts/Page.astro'

export interface Props {
	content: {
		title?: string;
		description?: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
	};
}

const {
	content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<Layout>
  {title && <h1 class="title">{title}</h1>}
  <slot /> 
  {updatedDate 
    ? <div class="date">Updated on <time>{updatedDate}</time></div>
    : pubDate && <div class="date">Initially posted <time>{pubDate}</time></div>
  }
</Layout>

<style>
  .date {
    font-style: italic;
    font-weight: 200;
    font-size: .8rem;
    text-align: left;
  }
</style>